<div class="col-sm-12">
  <div class="panel panel-white post panel-shadow">
    <div class="post-heading">
      <div class="pull-left meta">
        <div class="title h5">
          <strong><%= commentary.user.name %></strong> said: <%= commentary.content %>
        </div>
      </div>
    </div>
    <% if commentary.user == current_user %>
      <div class="post-editor right">
        <p><%= link_to "Delete", commentary_path(commentary), method: :delete %></p>
      </div>
    <% end %>
  </div>
</div>